@use '../../styles/vars';

.menu {
	padding: 24px 0 24px 32px;
	height: 100%;
	box-shadow: 0px 0px 5px rgba(2, 0, 96, 0.25);
	list-style: none;
	
	&__header {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 32px;
	}

	&__li {
		list-style: none;
	}

	&__sublist {
		padding: 0 0 8px 48px;
		li {
			list-style: none;
		}
	}
}


@media (max-width: vars.$mediumScreen) {
	.sidebar .menu {
		display: none;
	}
	.burger-menu .menu {
		display: block;
	}
}

@media (min-width: vars.$mediumScreen) {
	.burger-menu {
		display: none;
	}
}
