$mediumScreen: 768px;
$smallScreen: 550px;

$light: #E5E5E5;
$dark: #1C1C1E;
$black: #000000;
$blue: #4F27BF;
$white: #FFFFFF;
$gray: #A8A8A8;
$extra-light-blue: #F2EEFC;
$light-blue: #5f34d5;
$dark-blue: #311877;

