@use './vars';

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  src: url('../assets//fonts/Montserrat-Medium.woff');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  src: url('../assets//fonts/Montserrat-Bold.woff');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-size: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  padding: 32px;
  &__heading {
    margin-bottom: 16px;
    font-size: 26px;
    font-family: 'Montserrat-Bold';
  }
  &__subheading {
    font-weight: 500;
    margin-bottom: 24px;
    font-size: 20px;
  }
  &__text {
    font-weight: 500;
    line-height: 24.38px;
    margin-bottom: 22px;
    color: vars.$black;
  }
}


