@use './vars';

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  src: url('../assets//fonts/Montserrat-Medium.woff');
}
@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  src: url('../assets//fonts/Montserrat-Bold.woff');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-size: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
